<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_ROOT">./logs</Property>
        <Property name="FILE_NAME">finance-manager-api</Property>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy'T'HH:mm:ss.SSSZ} [%t] %-5level %logger{36} - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile
                name="File"
                fileName="${LOG_ROOT}/${FILE_NAME}.log"
                filePattern="${LOG_ROOT}/archived/${FILE_NAME}-%d{dd-MM-yyyy}-i%.log">
            <PatternLayout pattern="${LOG_PATTERN}" />

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="File" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
